body, html{
    width: 100%;
    height: 100%;
    padding: 0px;
}

.container{
    min-height: 500px;
    width: 100%;
}

.no-gutters{
    margin-top: 30px;
}
.my-footer{
    width: 100%;
    background-color: #f8f9fa;
    height: 20em;
    margin-top: 5em;
    padding: 3em;
    color: rgb(126, 126, 126);
    /* font-size: 12px; */
}



.head-box{
    height: 0px;
}
.head-text-style{
    height: fit-content;
    padding-bottom: 0em;
}
.text-style{
    font-size: 12px;
}
.center-img{
    width: 50%;
}

.notie-container{
    height: 2rem;
    text-align: center;
    line-height: 0.1rem;
    font-size: 1rem;
}

.mt-6 {
    margin-top: 4rem !important;
  }

.pic-bd{
    border: solid 1px;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    overflow: hidden;
}