{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row justify-content-md-center mt-5">
            <div class="col-md-7 mt-5">
                <h1 class="mt-5">About Me</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-2 mt-4 ">
                <div class="pic-bd w-100" style="
                    border: none;
                    width: fit-content;
                    height: fit-content;
                    border-radius: 50%;
                    overflow: hidden;
                ">
                    <img src="/static/images/me.jpg" class="d-block w-100 " alt="tray">
                </div>
            </div>
            <div class="col-md-5 mt-4 ">
                <h4 class="mt-2">Jie-Yu Fang</h4>
                <div style="color: #666; font-weight: 300;">National Cheng Kung University</div>
                <div style="color: #666; font-weight: 300;">Institute of computer and communication engineering</div>
                <br>
                <div style="color: #666; font-weight: 300;">Interest at web development and cats</div>
            </div>
        </div>
    </div>
{{end}}

<div class="footer-pic fixed-bottom">
  <img src="/static/images/bg-pic-simple.png" class="d-block w-100" alt="tray">
</div>