{{define "base"}}
    <!DOCTYPE html>
    <html lang="en" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Booking.com</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
    <!-- partial:index.partial.html -->
        <nav class="navbar navbar-expand-sm fixed-top navbar-light" style="background-color: rgba(255,255,255,0.80);">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Booking.com</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Room Type
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/generals">General's Quaters</a></li>
                            <li><a class="dropdown-item" href="/majors">Major's Suite</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/search-availability" tabindex="-1" aria-disabled="true">Book Now</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/contact" tabindex="-1" aria-disabled="true">Contact</a>
                    </li>
                    
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        {{if eq .IsAuthenticated 1}}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/admin/dashboard">Dashboard</a></li>
                                    <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                                </ul>
                            </li>
                            {{/* <a class="nav-link" href="/user/logout" tabindex="-1" aria-disabled="true">Logout</a> */}}
                        {{else}}
                            <a class="nav-link" href="/user/login" tabindex="-1" aria-disabled="true">Login</a>
                        {{end}}
                    </li>
                </ul>
                </div>
            </div>
        </nav>

    {{block "content" .}}

    {{end}}
    <div class="row my-footer">
        <div class="row head-box">
            <div class="col sm-3">
                <p class="head-text-style">Follow Life at Google on</p>
            </div>
        </div>
        <hr style="height: 0.01em;">
        <div class="row">
            <div class="col sm-3 footer-box">
                <p class="head-text-style">@ Information</p>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
    <script src="https://unpkg.com/notie"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/static/js/script.js"></script>
    {{block "js" .}}

    {{end}}
    <script>
        function notify(msg, msgType){
            notie.alert({
                type: msgType, 
                text: msg,
                position: 'bottom'
            })
        }

        {{with .Error}}
            console.log({{.}})
            notify({{.}}, "error")
        {{end}}

        {{with .Flash}}
            console.log({{.}})
            notify({{.}}, "success")
        {{end}}
    
    </script>


{{end}}