{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-4 mt-5">
                <h1 class="col mt-5 mb-5" style="text-align: center;">Choose a Room</h1>
                {{$room := index .Data "rooms"}}
                <div class="col d-grid gap-1 col-10 mx-auto">
                {{range $room}}
                    <a class="btn btn-success" href="/choose-room/{{.ID}}-{{.RoomName}}" role="button">{{.RoomName}}</a>
                    {{/* <li><a href="/choose-room/{{.ID}}-{{.RoomName}}">{{.RoomName}}</a></li> */}}
                {{end}}
                </div>
                {{/* </ul> */}}
            </div>
        </div>
    </div>
{{end}}

<div class="footer-pic fixed-bottom">
  <img src="/static/images/bg-pic-simple.png" class="d-block w-100" alt="tray">
</div>