{{template "base" .}}

{{define "content"}}
    <div class="container">
        
        <div class="row mt-5">
            <div class="col">
                <img src="/static/images/bay.png" class="img-fluid mx-auto d-block center-img" alt="queenstown">
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5 mb-3"> General's Quater </h1>
                <p>Welcome to Fort Smith Bed and Breakfast. Welcome to Fort Smith Bed and Breakfast. Welcome to Fort Smith Bed and Breakfast. Welcome to Fort Smith Bed and Breakfast. Welcome to Fort Smith Bed and Breakfast. Welcome to Fort Smith Bed and Breakfast. Welcome to Fort Smith Bed and Breakfast. Welcome to Fort Smith Bed and Breakfast. Welcome to Fort Smith Bed and Breakfast. Welcome to Fort Smith Bed and Breakfast. Welcome to Fort Smith Bed and Breakfast. Welcome to Fort Smith Bed and Breakfast. Welcome to Fort Smith Bed and Breakfast.</p>
                
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-3 mb-5">
                {{/* <a href="/search-availability" class="btn btn-success">Check Availibility</a> */}}
                <form action="/search-availability-id" method="post">
                  <input type="hidden" name="csrf_token" value={{.CSRFToken}}>
                  <input type="hidden" name="room_id" value=1>
                  <input type="hidden" name="room_type" value="generals quater">
                  <button type="submit" class="btn btn-success mb-5">Check Availibility</button>
                </form>
            </div>
        </div>
    </div>
 
{{end}}
