{{template "base" .}}

{{define "content"}}
 <div class="container">
        
        <div class="row">
            <div class="col-md-6">
                <h1 class="mt-5">Search for availibility</h1>
                <form action={{with .Data}} "search-availability-by-id" {{else}}"/search-availability" {{end}} method="post" class="needs-validation" novalidate>
                  <input type="hidden" name="csrf_token" value={{.CSRFToken}}>
                  <div class="form-row mb-5 mt-5">
                      <div class="col">
                          <div class="form-row" id="reservation-dates">
                            <div class="col">
                              <input required type="text" class="form-control" name="start" placeholder="Start Date">
                            </div>
                            <div class="col">
                              <input required type="text" class="form-control" name="end" placeholder="Ending Date">  
                            </div>
                            <div class="col">
                              <button type="submit" class="btn btn-success mb-5">Search</button>
                            </div>
                          </div>
                      </div>
                  </div>
                </form>
                {{/* <button id="btnPrompt" class="btn btn-success mb-5">Search</button> */}}
            </div>
        </div>
  
        
    </div> 
{{end}}
